body {
  background-color: yellow;
}

h2 {
  color:red;
  text-align:center;
  text-decoration:underline;
}
p  {
  color:blue;
  font-family:"Lucida Console", "Courier New", monospace;
  font-size:20px;
}